* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/bodyBackground.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.mt-6 {
    margin-top: 6rem;
}

.monyologo img {
    width: 30%;
}

.mario {
    display: flex;
    justify-content: center;
}

.mario img {
    width: 50%;
}

.CashbackContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.CashbackContent h1 {
    font-size: 50px;
    font-weight: 600;
}

.cashSlogan {
    text-align: center;
    margin: 10px 0;
}

.cashSlogan span {
    font-size: 20px;
}

.signInBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signInBtn button {
    margin: 0 5px;
    background-color: #FC1032;
    padding: 5px 10px;
    border: none;
    border-radius: 31px;
    color: #fff;
}

.partnerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnerImg img {
    width: 20%;
}

#RegisterForm .inpForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

#RegisterForm .inpForm input {
    border-bottom: 0.5px solid #727171;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    padding: 5px;
}

#RegisterForm .inpForm label {
    color: #727171;
}

#RegisterForm .inpForm button {
    background: #5C5C5C;
    padding: 4px 10px;
    border-radius: 31px;
    border: none;
    color: #Fff;
    font-weight: 600;
    font-size: 18px;
}

.pn label {
    color: #727171;
}

.endBtn {
    display: flex;
    align-items: center;
}

.endBtn a {
    background-color: #FC1032;
    padding: 4px 9px;
    color: #Fff;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
}

.endBtn span {
    margin-left: 10px;
    color: #000;
    font-weight: 600;
    font-size: 22px;
}

.secondNav {
    background: linear-gradient(148.44deg, #E80000 17.81%, #C80303 93.38%);
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.secondNav .Secondmonyologo img {
    width: 70%;
}

.secondNav .SecondmonyoQr {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.secondNav .SecondmonyoQr button {
    border-radius: 50%;
    border: none;
    background: #fff;
    color: #000;
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
}

.secondNav .SecondmonyoQr span {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

footer .footerText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer span {
    font-size: 12px;
    color: #303030;
}

footer span a {
    text-decoration: none;
    color: #303030;
}

.box {
    position: relative;
    max-width: 100%;
    margin: 0 20px;
}

.slider-for {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.slide-container {
    height: 20vh;
    background-color: transparent;
    text-align: center;
    line-height: 20vh;
    font-size: 40px;
    font-weight: bold;
    border: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.decor {
    padding: 5px 40px;
    background-color: #fff;
    border: 2px solid #000
}

.slide-btn {
    background: linear-gradient(0deg, rgba(160, 160, 160, 0.22), rgba(160, 160, 160, 0.22)), linear-gradient(144.81deg, #EDEDED 20.68%, rgba(249, 249, 249, 0.85) 84.09%);
    box-shadow: 0px 4px 25px 0px #00000033;
    padding: 10px;
    border-radius: 12px;
    width: 100% !important;
}

.slide-btn .restaurantLogo {
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 4px 15px 0px #0000001A;
}

.slide-btn .restaurantLogo img {
    width: 100%;
}

.slide-btn .cardInfo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.slide-btn .cashText span {
    display: flex;
    align-items: center;
}

.slide-btn .cashText span img {
    padding-right: 6px;
}

.slide-btn .priceBonus {
    display: flex;
    justify-content: flex-end;
}


/* .pricePr {
    width: 100%;
    justify-content: flex-end;
} */